<div class="carousel-container">
	<div class="caption">
		<span>2016</span>
		<h1>New collections</h1>
		<a href="#" class="btn btn--header">Shop Collection</a>
	</div>
	<ul class="carousel">
		<li>
			<picture>
			    <source media="(min-width: 64rem)" srcset="{{assets}}/img/carousel-1.jpg">
			    <source media="(min-width: 40rem)" srcset="{{assets}}/img/carousel-1-medium.jpg">
			    <img src="{{assets}}/img/carousel-1-small.jpg" alt="">
			</picture>
		</li>
		<li>
			<picture>
			    <source media="(min-width: 64rem)" srcset="https://unsplash.it/1180/441?image=1007">
			    <source media="(min-width: 40rem)" srcset="https://unsplash.it/750/319?image=992">
			    <img src="https://unsplash.it/320/203?image=974" alt="">
			</picture>
		</li>
		<li>
			<picture>
			    <source media="(min-width: 64rem)" srcset="https://unsplash.it/1180/441?image=879">
			    <source media="(min-width: 40rem)" srcset="https://unsplash.it/750/319?image=825">
			    <img src="https://unsplash.it/320/203?image=765" alt="">
			</picture>
		</li>
	</ul>	
</div>
