<footer class="footer">
	<div class="footer__links-wrap">
		<div class="container">
			<nav class="footer__links">
				<ul>
					<li><a href="#">about us</a></li>
					<li><a href="#">orders &amp; returns</a></li>
					<li><a href="#">customer services</a></li>
					<li><a href="#">delivery</a></li>
					<li><a href="#">privacy</a></li>
					<li><a href="#">advanced search</a></li>
					<li><a href="#">contact</a></li>
					<li><a href="#">cookies</a></li>
				</ul>
			</nav>

			<form action="#" class="footer__subscribe">
				<input type="text" placeholder="Email Address" class="footer__subscribe-input" />
				<button type="submit" class="btn btn--subscribe">Subscribe <i class="fa fa-check"></i></button>
			</form>
		</div>		
	</div>
	<div class="footer__copyright">
		<div class="container">
			<p>Copyright &copy; 2015 Fresh. All Rights Reserved.</p>
		</div>		
	</div>
</footer>