<header class="header">
	<nav class="header__mobile-nav">
		<ul>
			<li><a href="#">Seating</a></li>
			<li><a href="#">Lighting</a></li>
			<li><a href="#">Tables</a></li>
			<li><a href="#">Beds</a></li>
			<li><a href="#">Accessories</a></li>
			<li><a href="#">New</a></li>
		</ul>		
	</nav>
	<h1 class="header__logo">Fresh</h1>
	<nav class="header__menu">
		<ul>
			<li><a href="#">Seating</a></li>
			<li><a href="#">Lighting</a></li>
			<li><a href="#">Tables</a></li>
			<li><a href="#">Beds</a></li>
			<li><a href="#">Accessories</a></li>
			<li><a href="#">New</a></li>
		</ul>
	</nav>
	<nav class="header__links">
		<ul>
			<li><a href="#">Search</a></li>
			<li><a href="#">Cart</a></li>
			<li><a href="#">User</a></li>
		</ul>
	</nav>

</header>