<header class="header">
	<div class="container">
		<nav class="header__mobile-nav"><label for="sidebar" class="fa fa-bars"></label></nav>
		<h1 class="header__logo"><a href="/">fresh.</a></h1>
		<nav class="header__menu">
			<ul>
				<li><a href="#">Seating</a></li>
				<li><a href="#">Lighting</a></li>
				<li><a href="#">Tables</a></li>
				<li><a href="#">Beds</a></li>
				<li><a href="#">Accessories</a></li>
				<li class="special"><a href="#">New</a></li>
			</ul>
		</nav>
		<nav class="header__menu header__menu--links">
			<ul>
				<li><a href="#"><i class="fa fa-search"></i></a></li>
				<li><a href="#"><i class="fa fa-shopping-basket"></i></a></li>
				<li><a href="#"><i class="fa fa-user"></i></a></li>
			</ul>
		</nav>		
	</div>
</header>