<main>
	<div class="container">
		<div class="img-box lighting">
			<img src="http://placehold.it/380x736">
		</div>	
		<div class="img-box furniture">
			<img src="http://placehold.it/780x360">
		</div>
		<div class="img-box chairs">
			<img src="http://placehold.it/380x360">
		</div>
		<div class="img-box stools">
			<img src="http://placehold.it/380x736">
		</div>
		<div class="img-box showroom">
			<img src="http://placehold.it/780x360">
		</div>	
	</div>
</main>