// can further seperate breakpoints if needed just to be more specific

// MOBILE

@include mobile {

  .header {
      padding: 0;
    .container {
      padding: 0;
    }
    &__mobile-nav {
      display: inline-block;
    }
    &__logo {
      @include rem(margin, 15px 30px 0 0);
    }
    &__menu {
      display: none;
      &--links {
        @include rem(margin-top, 20px);
        display: block;
        
        ul li {
          @include rem(margin-right, 20px);
        }
      }
    }
  }

  .carousel-container{
    & .caption {
      span {
        @include rem(font-size, 10px);
        @include rem(margin-bottom, 10px);
      }
      h1 {
        @include rem(font-size, 20px);
        @include rem(margin-bottom, 15px);
      }
    }
    & .carousel_tabs {
      @include rem(bottom, 15px);
    }
  }

  .image-grid {
    &__item-2 {
      & .image-grid__item-image {
        & .image-grid__item-image-caption-alt {
          @include rem(margin-top, 40px);
          padding: 0;
          bottom: auto;
          left: auto;
          display: inline-block;
          text-align: center;
          position: relative;
          background: transparent;
          color: white;
          h2 {
            @include rem(font-size, 16px);
            @include rem(margin-bottom, 10px);
          }
          .btn-arrow {
            @include rem(font-size, 10px);
            @include rem(padding, 10px 15px);
            @include rem(border-radius,30px);
            background-color: rgba(0,0,0,0.6);
            color: white;
            i {
              display: none;
            }
          }          
        }
      }      
    }
    &__item {
      &-1,
      &-2,
      &-3,
      &-4 {
        position: relative;
        left: auto;
        top: auto;
        height: 0;
        width: 50%;
        padding-top: 50%;
        float: left;

        &:nth-child(odd) {
          margin-right: 0px;
        }     
      }

      &-5 {
        position: relative;
        left: auto;
        top: auto;
        height: 0;
        width: 100%;
        float: left;
        padding-top: 50%;
        & .image-grid__item-image {
          & .image-grid__item-image-caption-alt {
            @include rem(padding, 10px);
            h2 {
              @include rem(font-size, 16px);
            }
          }
        }      
      }
      &-image {
        &-caption {
          @include rem(margin-top, 40px);
          position: relative;
          left: auto;
          top: auto;
          transform: translate(0, 0);
          span {
            display: none;
          }
          h2 {
            @include rem(font-size, 16px);
            @include rem(margin-bottom, 10px);
          }
          .btn {
            @include rem(font-size, 10px);
          }
        }
      }
    }
  }

  .footer {
    &__links,
    &__subscribe {
      width: 100%;
      display: block;
    }
    &__links {
      @include rem(margin-bottom, 20px);
      overflow: hidden;
      &-wrap {
        @include rem(padding, 35px 0);
      }
    }
    &__subscribe {
      @include rem(margin-bottom, 35px);
      text-align: center;
    }
  }    
}

// MOBILE LANDSCAPE

@include landscape {

  .carousel-container {
    & .caption {
      span {
        @include rem(font-size, 20px);
        @include rem(margin-bottom, 20px);        
      }
      h1 {
        @include rem(font-size, 30px);
        @include rem(margin-bottom, 20px);
      }
    }    
  }
}

// TABLET BREAKPOINT

@include tablet {

  .header {
      padding: 0;
    .container {
      padding: 0;
    }
    &__mobile-nav {
      display: inline-block;
    }
    &__logo {
      @include rem(margin, 15px 30px 0 0);
    }
    &__menu {
      display: none;
      &--links {
        @include rem(margin-top, 20px);
        display: block;
        
        ul li {
          @include rem(margin-right, 20px);
        }
      }
    }
  }

  .carousel-container {
    & .caption {
      span {
        @include rem(font-size, 20px);
        @include rem(margin-bottom, 20px);
      }
      h1 {
        @include rem(font-size, 40px);
        @include rem(margin-bottom, 30px);
      }
    }
    & .carousel_tabs {
      @include rem(bottom, 20px);
    }    
  }

  .image-grid {
    &__item {
      &-image {
        &-caption--tall {
          @include rem(margin-top, -140px);
        }
      }
    }
  }

  .footer {
    &__subscribe {
      @include rem(font-size, 12px);
      text-align: center;
      
      &-input {
        padding: 0;
      }
      .btn--subscribe {
        @include rem(padding, 5px 10px);
        @include rem(font-size, 12px);
      }
    }
  }
}
