// can further seperate breakpoints if needed just to be more specific

// MOBILE

@include mobile {

  .header {
      padding: 0;
    .container {
      padding: 0;
    }
    &__mobile-nav {
      display: inline-block;
    }
    &__logo {
      @include rem(margin, 15px 30px 0 0);
    }
    &__menu {
      display: none;
      &--links {
        @include rem(margin-top, 20px);
        display: block;
        
        ul li {
          @include rem(margin-right, 20px);
        }
      }
    }
  }

  .carousel-container{
    & .caption {
      span {
        @include rem(font-size, 10px);
        @include rem(margin-bottom, 10px);
      }
      h1 {
        @include rem(font-size, 20px);
        @include rem(margin-bottom, 15px);
      }
    }
    & .carousel_tabs {
      @include rem(bottom, 15px);
    }
  }

  .image-grid {
    &__item {
      &-image {
        background-position: 0 100%;
      }
    }
    &__item-2 {
      & .image-grid__item-image-caption-alt {
        padding: 0;
        top: 50%;
        left: 50%;
        display: inline-block;
        background: transparent;
        color: white;
        transform: translate(-50%, -50%);
        bottom: auto;
        text-align: center;
        width: 100%;
        h2 {
          @include rem(font-size, 16px);
          @include rem(margin-bottom, 10px);
        }
        .btn-arrow {
          @include rem(font-size, 10px);
          @include rem(padding, 10px 15px);
          @include rem(border-radius,30px);
          background-color: rgba(0,0,0,0.6);
          color: white;
          i {
            display: none;
          }

          &:hover {
            background-color: rgba(0,0,0,1);
          }
        }          
      }
    }
    &__item {
      &-1,
      &-2,
      &-3,
      &-4 {
        position: relative;
        left: auto;
        top: auto;
        height: 0;
        width: 50%;
        padding-top: 50%;
        float: left;

        &:nth-child(odd) {
          margin-right: 0px;
        }     
      }

      &-5 {
        position: relative;
        left: auto;
        top: auto;
        height: 0;
        width: 100%;
        float: left;
        padding-top: 50%;

        & .image-grid__item-image-caption-alt {
          @include rem(padding, 10px);
          h2 {
            @include rem(font-size, 16px);
          }
        }
      }
      &-image {
        &-caption {
          span {
            display: none;
          }
          h2 {
            @include rem(font-size, 16px);
            @include rem(margin-bottom, 10px);
          }
          .btn {
            @include rem(font-size, 10px);
          }
          &--tall {
            margin-top: 0;
          }
        }
      }
    }
  }

  .footer {
    &__links,
    &__subscribe {
      width: 100%;
      display: block;
    }
    &__links {
      @include rem(margin-bottom, 20px);
      overflow: hidden;
      &-wrap {
        @include rem(padding, 35px 0);
      }
    }
    &__subscribe {
      @include rem(margin-bottom, 35px);
      text-align: center;
      .btn--subscribe {
        @include rem(padding, 10px);
      }
    }
  }

  #sidebar {

    &:checked + .page-wrap {

      .carousel-container .caption,
      .image-grid__item-image-caption,
      .image-grid__item-image-caption-alt {
        display: none;
      }

      .footer__links ul li {
        width: 100%;
      }

      .footer__subscribe{
        padding-left: 0;
        &-input {
          @include rem(padding, 0 10px);
          display: block;
          margin-bottom: 10px;
          width: 100%;
        }     
      }

      .footer__subscribe .btn--subscribe {
        display: block;
        width: 100%;
      }

      & .sidebar {
        left: 0;
        transition: left .4s ease;
      }
    }
  }    
}

// MOBILE LANDSCAPE

@include landscape {

  .carousel-container {
    & .caption {
      span {
        @include rem(font-size, 20px);
        @include rem(margin-bottom, 20px);        
      }
      h1 {
        @include rem(font-size, 30px);
        @include rem(margin-bottom, 20px);
      }
    }    
  }
}

// TABLET BREAKPOINT

@include tablet {

  .header {
      padding: 0;
    .container {
      padding: 0;
    }
    &__mobile-nav {
      display: inline-block;
    }
    &__logo {
      @include rem(margin, 15px 30px 0 0);
    }
    &__menu {
      display: none;
      &--links {
        @include rem(margin-top, 20px);
        display: block;
        
        ul li {
          @include rem(margin-right, 20px);
        }
      }
    }
  }

  .carousel-container {
    & .caption {
      span {
        @include rem(font-size, 20px);
        @include rem(margin-bottom, 20px);
      }
      h1 {
        @include rem(font-size, 40px);
        @include rem(margin-bottom, 30px);
      }
    }
    & .carousel_tabs {
      @include rem(bottom, 20px);
    }    
  }

  .image-grid {
    &__item {
      &-image {
        &-caption--tall {
          // @include rem(margin-top, -140px);
        }
      }
    }
  }

  .footer {
    &__subscribe {
      @include rem(font-size, 12px);
      text-align: center;
      
      &-input {
        padding: 0;
      }
      .btn--subscribe {
        @include rem(padding, 5px 10px);
        @include rem(font-size, 12px);
      }
    }
  }

  #sidebar {

    &:checked + .page-wrap {

      .carousel-container .caption,
      .image-grid__item-image-caption,
      .image-grid__item-image-caption-alt {
        display: inline-block;
      }

      .footer__links ul li {
        width: 50%;
      }

      .footer__subscribe{
        padding-left: 10px;
        float: right;
        &-input {
          @include rem(padding, 0 10px);
          display: inline-block;
          margin-bottom: 0;
          width: 45%
        }     
      }

      .footer__subscribe .btn--subscribe {
        display: inline-block;
        width: 50%;
      }

      & .sidebar {
        left: 0;
        transition: left .4s ease;
      }
    }
  } 
}
