/* header layout */

.header {
	height: 63px;
	background-color: #383434;
	display: block;
	color: white;
	margin: 0;
	padding: 0;
	overflow: hidden;
	.container {
		max-width: 1180px;
		display: block;
		margin: 0 auto;
		padding: 0;

		@include desktop {
			padding: 15px;
		}
	}

	&__mobile-nav {
		display: inline-block;
		float: left;
		padding: 19px;
		background-color: $link-active-color;
		color: white;
		margin-right: 10px;
		cursor: pointer;

		@include desktop {
			display: none;
		}
	}

	&__logo {
		margin: 15px 30px 0 0;
		padding: 0;
		display: inline-block;
		font-size: 21px;
		font-weight: 800;
		float: left;

		@include desktop {
			margin: 0 30px 0 0;
		}

		a {
			display: block;
			color: white;
			text-decoration: none;
		}
	}

	&__menu {
		display: none;

		@include desktop {
			display: inline-block;
			float: left;
			margin-top: 6px;
		}

		ul {
			list-style-type: none;

			li {
				display: inline-block;
				margin-right: 35px;
				a {
					color: white;
					text-decoration: none;
					padding: 5px 10px;
					font-size: 16px;
					font-weight: 600;
					opacity: 1;
				}
				&:after {
					font-family: "FontAwesome";
					content: "\f107";
					display: inline-block;
					cursor: pointer;
				}

				&:hover {
					a {
						opacity: 0.6;
						transition: opacity 0.6s;
					}
				}
			}



			& .special {
				margin-right: 0;
				text-transform: uppercase;
				a {
					color: $secondary-font-color;
				}
				&:after {
					display: none;
				}
			}
		}

		&--links {
			float: right;
			display: inline-block;
			margin-top: 20px;

			ul li {
				margin-right: 20px;
				&:after {
					display: none;
				}
			}

			@include desktop {
				margin-top: 6px;
				
				ul li {
					margin-right: 35px;

					&:last-child {
						margin-right: 0; 
					}
				}
			}
		}
	}
}