---
title: Fresh - ecommerce
---

<input type="checkbox" id="sidebar">
<div class="page-wrap">
	{{>header}}
	{{>carousel}}
	{{>main}}
	{{>footer}}
	<div class="sidebar">
		<ul>
			<li><a href="">Seating</a></li>
			<li><a href="">Lighting</a></li>
			<li><a href="">Tables</a></li>
			<li><a href="">Beds</a></li>
			<li><a href="">Accessories</a></li>
			<li><a href="">NEW</a></li>
		</ul>
	</div>	
</div>

