/* Configs */

// Layout Colors
$base-background-color : #fff;
$base-btn-color : #12bbc1;
$base-dark-color : #333;
$footer-bg : #f2efef;
$copyright-bg : #b3a7a7;

// Font Colors
$base-font-color       : #18191a;
$secondary-font-color  : #12bbc1;
$link-color            : #333;
$link-hover-color      : #b3a7a7;
$link-active-color     : #b3a7a7;

// Font Family
$base-font         : 'Open Sans';
$secondary-font    : sans-serif;
$heading-base-font : 'Open Sans';

// Font Sizes
$base-font-size    :  16px;
$base-line-height  :  1.6;

// Layout
$max-width                : 1180; // Use $row-width if you want value with 'px'
$column-gutter-width      : 20;
$number-of-columns        : 12;

// Breakpoints

$landscape-width: 480px;
$tablet-width: 767px;
$desktop-width: 1024px;